#full_logo{
  display: block;
  position: fixed;
  height: 100%;
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  animation-name: fulllogodisappear;
  animation-duration: 1s;
  animation-delay: 4s;
  z-index: 6;
}
#logoview{
  position: absolute;
  top: 70px;
  width: auto;
}
#nav_bar{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  display: block;
  background-color: rgba(0,255,0,0);
  color: white;
  z-index: 3;
}
#nav_bar ul{
  position: fixed;
  top: 0px;
  right: 2%;
  background-color: none;
  border-radius: 10px;
  width: 410px;
  height: 70px;
  padding-left: 10px;
}

#nav_bar ul li{
  display: inline-block;
  height: 40px;
  margin: 2px 10px 2px 2px;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 5px white);;
}

#nav_bar ul li:hover{
  animation-name: shaky;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

#background_text{
  z-index: 5;
  display: block;
  color: yellow;
  position: fixed;
  font-size: 2rem;
  top: 15%;
  right: 12%;
  text-align: center;
  filter: drop-shadow(0px 0px 10px red);
}

@keyframes shaky {
  0%{
    transform: rotateZ(-20deg);
  }
  100%{
    transform: rotateZ(20deg);
  }
}

#background_video{
  position: fixed;
  z-index: 1;
  left:0px;
  width: 100%;
}


.images{
  position: absolute;
  z-index: 2;
  width: 30%;
}
.lines{
  position: absolute;
  z-index: 2;
  color: white;
  clear: both;
}
#flexbox{
  display: flex;
  position: absolute;
  top:280%;
  z-index: 2;
  color: black;
  font-size: 2rem;
  flex-wrap: wrap;
}
.content{
  display: block;
  flex: 80%;
  margin: 30px;
}




#gallery{
  position: absolute;
  z-index: 2;
  top: 20%;
  margin: 5%;
  color: white;
  font-size: 2rem;
}
.slide{
  width: auto;
  height: 400px;
  vertical-align: middle;
  margin: 10px;
}
#call{
  position: fixed;
  display: none;
  bottom: 5%;
  right:5%;
  z-index: 5;
}
#carousel_Applications{
  position: relative;
  font-size: 2rem;
  top: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

@media screen and (max-width : 1000px){
  #background_video{
    height: 100%;
    width: auto;
  }
  .content{
    display: block;
    flex: 80%;
    margin: 30px;
  }
  #logoview{
    left: 100px;
  }
  #call{
    display: block;
    transform: scale(2.4);
  }

#short_image{
  display: none;
}
#flexbox{
  top:150%;
}
}


